<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->

      <form  (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form">
          <label for="email">Mail</label>
          <input  type="email"
                  id="email"
                  class="form-control"
                  name="email"
                  required
                  email
                  ngModel
                  #email="ngModel"
          >
        </div>
        <span *ngIf="!email.valid && email.touched">Email Not Valid!</span>

        <div class="form">
          <label for="subscription">Subscriptions</label>
          <select [ngModel]="defaultSelection"
                  name="subscription"
                  id="subscription"
                  class="form-control">
            <option *ngFor="let sub of subscriptions"  value="{{sub}}">{{ sub }}</option>
            <!-- <option *ngFor="let sub of subscriptions"  [value]="sub">{{ sub }}</option> -->
          </select>
        </div>

        <div class="form">
          <label for="password">Password</label>
          <input  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                  required
                  ngModel
                  #password="ngModel"
          >
        </div>
        <span *ngIf="!password.valid && password.touched">Password Not Valid!</span>

        <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
      </form>
      <span *ngIf="!f.valid && f.touched">Form Is Invalid!</span>
    </div>
  </div>
</div>
